/* Main index page overview cards */

.sd-card .sd-card-img-top {
  height: 60px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/* Main index page overview images */

html[data-theme=dark] .sd-card img[src*='.svg'] {
  filter: invert(0.82) brightness(0.8) contrast(1.2);
}

/* every <ul> inside .three-cols will be split into 3 columns */
.three-cols ul {
  column-count:    3;
  column-gap:      1em;    /* space between cols */
}